// @import 'global/variables';
@import 'components/post-select-modal';

.hm-post-control {
	.components-spinner {
		float: none;
	}

	.hm-post-control-current-selection {
		border: 1px solid #e2e4e7;
		background: #edeff0;
		margin: 1.5em auto 8px;
		padding: 8px;

		> h4 {
			font-weight: bold;
			margin: 0;
		}

		.hm-post-select-control-list {
			margin-top: 8px;
			margin-left: 1.4em;
			list-style: disc outside;
			margin-bottom: 0;

			li:last-child {
				margin-bottom: 0;
			}
		}
	}
}

.hm-link-control {
	.editor-url-input input {
		border: 1px solid #ddd;
		box-shadow: inset 0 1px 2px rgba( 0, 0, 0, 0.07 );
		background-color: #fff;
		color: #32373c;
		outline: none;
		transition: 0.05s border-color ease-in-out;
		padding: 6px 8px;
		max-width: 100%;

		&:focus {
			border-color: #5b9dd9;
			box-shadow: 0 0 2px rgba( 30, 140, 190, 0.8 );
		}
	}

	.components-spinner {
		right: 8px;
		top: 6px;
	}
}

.hm-image-control {
	&__img-container {
		position: relative;
		float: left;
		margin-bottom: 10px;

		&:after {
			content: ' ';
			display: block;
			position: absolute;
			top: 0;
			left: 0;
			right: 0;
			bottom: 0;
			box-shadow: inset 0 0 0 1px rgba( 0, 0, 0, 0.2 );
		}

		img {
			display: block;
			margin: 0 !important;
		}
	}

	&__actions {
		clear: both;
	}
}
