// @import 'global/variables';
@import 'components/post-select-modal';

@import 'node_modules/react-select/dist/react-select';

.hm-post-control {
	.spinner {
		float: none;
	}

	.hm-post-control-current-selection {
		border: 1px solid #e2e4e7;
		background: #edeff0;
		margin: 1.5em auto 8px;
		padding: 8px;

		> p {
			font-weight: bold;
			margin: 0;
		}

		.hm-post-select-control-list {
			margin-top: 8px;
			margin-left: 1em;
			list-style: bullet;

			li:last-child {
				margin-bottom: 0;
			}
		}
	}
}

.hm-link-control {
	.blocks-url-input input {
		border: 1px solid #ddd;
		box-shadow: inset 0 1px 2px rgba( 0, 0, 0, 0.07 );
		background-color: #fff;
		color: #32373c;
		outline: none;
		transition: 0.05s border-color ease-in-out;
		padding: 6px 8px;

		&:focus {
			border-color: #5b9dd9;
			box-shadow: 0 0 2px rgba( 30, 140, 190, 0.8 );
		}
	}

	.spinner {
		right: 8px;
		top: 6px;
	}
}
