{
    "presets": [ "@babel/preset-env", "@babel/preset-react" ],
    "plugins": [
        [
            "transform-object-rest-spread",
            { "useBuiltIns": true }
        ],
        [
            "transform-react-jsx",
            { "pragma": "wp.element.createElement" }
        ],
        "transform-class-properties"
    ]
}
