.post-select .modal {
	position: fixed;
	top: 20px;
	box-shadow: 0 5px 15px rgba(0,0,0,0.7);
}

.post-select .media-frame-title {
	left: 0;
	background: white;
	border-bottom: 1px solid #e2e4e7;
}

.post-select .media-frame-menu {
	width: 300px;
}

.post-select .post-select-filters {
	padding: 16px;
	box-sizing: border-box;
	font-size: 14px;
}

.post-select-filters-row {
	margin-bottom: 16px;
}

.post-select .post-select-filters label {
	margin-bottom: 8px;
	display: block;
}

.post-select .post-select-filters input[type="text"],
.post-select .post-select-filters input[type="search"] {
	width: 100%;
	border-color: #CCC;
}

.post-select .post-select-filters input[type="search"] {
	padding-top: 6px;
	padding-bottom: 6px;
	height: 36px;
	font-size: 14px;
	box-sizing: border-box;
}

.post-select .media-modal-content {
	min-height: 0;
	top: 50px;
	bottom: 60px;
	box-shadow: none;
}

.post-select .menu-container {
	display: grid;
	grid-template-columns: 300px auto;
	height: 100%;
}

.post-select .menu-container > .menu {
	background: #f3f3f3;
	border-right-width: 1px;
	border-right-style: solid;
	border-right-color: #ccc;
}

.post-list {
	overflow: auto;
	list-style: none;
	margin: 0;
	padding: 0;
}

.post-select .media-modal-content .spinner {
	float: left;
	margin: 16px;
}

.post-select .media-modal-content .prev-page {
	margin: 16px;
}

.post-select .media-modal-content .next-page {
	margin: 16px;
}

.post-select .media-modal-content .prev-page + div .post-list-item:first-child {
	border-top: 1px solid #e2e4e7;
}

.post-list-item {
	box-sizing: border-box;
	padding: 10px 20px;
	margin: 0;
	border-bottom: 1px solid #e2e4e7;
	display: block;
	width: 100%;
	text-align: left;
	background: white;
}

.post-list-item.is-dragging {
	opacity: 0;
}

.post-list-item.is-dragging + .post-list-item {
	border-top: 1px solid #e2e4e7;
}

.post-list-item:nth-child(odd) {
	background: #f8f9f9;
}

.post-list-item h2 {
	margin-top: 0;
	margin-bottom: 8px;
}

.sortable-post-list .post-list-item,
.post-list-item.focused {
	background: rgb(255,255,200);
	border-bottom-color: #e1e1b8;
	position: relative;

	&:after {
		content: '';
		display: block;
		position: absolute;
		top: -1px;
		left: 0;
		right: 0;
		border-bottom: 1px solid #e1e1b8;
	}
}

.sortable-post-list .post-list-item {
	cursor: move;
	padding-right: 60px;
}

.post-list-item-remove {
	position: absolute;
	top: 50%;
	right: 20px;
	margin-top: -10px;
	opacity: 0.6;

	&:hover {
		opacity: 1;
	}
}

.post-select .media-frame-toolbar {
	background: white;
	left: 0;
}

.post-select .media-frame-toolbar .media-toolbar {
	background: #FFF;
	padding: 16px;
	bottom: -60px;
	display: flex;
	flex-direction: row-reverse;
}

.post-select .media-frame-toolbar .media-toolbar .button {
	margin-left: 15px;
}
